h1{color: #ff0000;}
h1{font-size: 35}
h1{text-decoration: underline}
h1{font-family: cursive}
body{background-color: #C1CAD6;}
h2{font-size: 25}
h2{color: #5603AD;}
h3{font-size: 44}
p{font-size: 30}
a{text-decoration-line: none}
a{font-size: 12}
a{color: #1F3F52;}